<div class="row-fluid host" data-ng-cloak>
  <h3 class="page-header">{{zhc.title}}</h3>
  <div class="col-md-9 col-sm-12 no-padding">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">CPU Performance</h4>
        </div>
        <div class="panel-body">
          <c3chart bindto-id="cpu-graph" chart-data="zhc.cpu.used" chart-columns="zhc.cpu.column">
            <chart-colors color-pattern="#60B044,#F6C600,#F97600,#FF0000" thresholds="50,70,80,90"></chart-colors>
            <chart-gauge width="39" show-label="true" expand="true"></chart-gauge>
          </c3chart>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Memory Performance</h4>
        </div>
        <div class="panel-body">
          <h5 class="status pull-right">
            <span>Total: {{zhc.memory.total}}MB</span><br/><br/>
            <span>Free: {{zhc.memory.free}}MB</span>
          </h5>
          <c3chart bindto-id="memory-graph" chart-data="zhc.memory.used" chart-columns="zhc.memory.column">
            <chart-colors color-pattern="#60B044,#F6C600,#F97600,#FF0000" thresholds="50,70,80,90"></chart-colors>
            <chart-gauge width="39" show-label="true" expand="true"></chart-gauge>
          </c3chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Host Details</h4>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          Status
          <span class="pull-right">
            <span class="glyphicon" data-ng-class="{true: 'glyphicon-ok-sign text-success', false: 'glyphicon-warning-sign text-danger'}[zhc.host.status==0]"></span>
            {{zhc.host.status == 0 ? 'Monitored': 'Not Monitored'}}
          </span>
        </div>
        <div class="list-group-item">
          Availability
          <span class="pull-right">
            <span class="glyphicon" ng-class="{1: 'glyphicon-ok-sign text-success', 2: 'fa-warning-sign text-danger', 0: 'glyphicon-question-sign text-warning'}[zhc.host.available]" ></span>
            {{zhc.host.available == 2 ? 'Unavailable': (zhc.host.available == 1 ? 'Availabile': 'Unknwon')}}
          </span>
        </div>
        <div class="list-group-item">
          Group
          <span class="pull-right">
            <span class="label label-primary" data-ng-repeat="group in zhc.host.groups">{{group.name}}</span>
          </span>
        </div>
        <div class="list-group-item">
          IP Address
          <span class="pull-right">
            <span class="text-primary">{{zhc.host.interfaces[0].ip}}:{{zhc.host.interfaces[0].port}}</span>
          </span>
        </div>
        <div class="list-group-item">
          Up since
          <span class="pull-right">
            <span class="text-primary">{{zhc.host.uptime | date: 'MMM dd yyyy hh:mm' }}</span>
          </span>
        </div>
        <div class="list-group-item">
          Running Processes
          <span class="pull-right"> {{zhc.process.running}} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" data-ng-if="zhc.keys(zhc.disks).length > 0">
    <div class="panel panel-default" data-ng-init="diskstatus=true">
      <div class="panel-heading">
        <h4 class="panel-title" data-ng-click="diskstatus = !diskstatus">
          <span class="glyphicon glyphicon-tasks"></span> Disks
          <span data-ng-class="diskstatus == true ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'" class="pull-right glyphicon"></span>
        </h4>
      </div>
      <div class="panel-body" data-ng-show="diskstatus">
        <div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="(key, disk) in zhc.disks">
          <div class="media">
            <div class="media-left">
              <span class="glyphicon glyphicon-hdd media-object"></span>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Drive ({{key}})</h4>
              <uib-progressbar data-ng-class="{'progress-striped active': disk.usedPercent > 75}" animate="true" value="disk.usedPercent" max="100" type="{{disk.usedPercent > 75 ? 'danger': 'primary'}}"></uib-progressbar>
              <p class="text-muted">{{disk.free}} free of {{disk.total}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" data-ng-if="zhc.host.graphs.length > 0">
    <div class="panel panel-default" data-ng-init="graphstatus=true">
      <div class="panel-heading">
        <h4 class="panel-title" data-ng-click="graphstatus = !graphstatus">
          <span class="glyphicon glyphicon-stats"></span> Graphs
          <span data-ng-class="graphstatus == true ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'" class="pull-right glyphicon"></span>
        </h4>
      </div>
      <div class="panel-body" data-ng-show="graphstatus">
        <div class="col-sm-12">
          <div class="btn-group" uib-dropdown>
            <button class="btn btn-default">{{zhc.selectedGraphName}}</button>
            <button id="group-names" type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="group-names">
              <li data-ng-class="{'active': zhc.selectedGraphId == graph.graphid}" data-ng-repeat="graph in zhc.host.graphs" role="menuitem">
                <a data-ng-href="#" data-ng-click="zhc.selectGraph(graph)">{{graph.name}}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button data-ng-model="zhc.refreshType" data-ng-click="zhc.changeRefresh()" class="btn btn-default" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
              {{zhc.refreshType == 1 ? 'Every 10s': 'Manual'}}
              <span data-ng-class="{'glyphicon glyphicon-refresh rotating': zhc.refreshType == 1}"></span>
            </button>
            <button class="btn btn-success" data-ng-if="zhc.refreshType == 0" data-ng-click="zhc.getGraph()">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </div>
          <div class="btn-group pull-right" uib-dropdown>
            <button class="btn btn-default">Time Period: {{(zhc.graphTimePeriods | filter:{value:zhc.selectedTimePeriod}:true)[0].label}}</button>
            <button id="time-period" type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="time-period">
              <li data-ng-class="{'active': zhc.selectedTimePeriod == item.value}" data-ng-repeat="item in zhc.graphTimePeriods" role="menuitem">
                <a data-ng-href="#" data-ng-click="zhc.selectTimePeriod(item)">{{item.label}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="graph-wrapper text-center">
          <div class="img-responsive" data-ng-if="zhc.graphData != ''">
            <img src="{{zhc.graphData}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" data-ng-if="zhc.applications.length > 0">
    <div class="panel panel-default" data-ng-init="appstatus=false">
      <div class="panel-heading">
        <h4 class="panel-title" data-ng-click="appstatus = !appstatus">
          <span class="glyphicon glyphicon-certificate"></span> Latest Data
          <span data-ng-class="appstatus == true ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'" class="pull-right glyphicon"></span>
        </h4>
      </div>
      <div class="panel-body no-padding" data-ng-show="appstatus">
        <div class="col-sm-3 col-md-2">
          <uib-tabset active="zhc.activeApplication" vertical="true" type="pills">
            <uib-tab index="$index" heading="{{application.name}}" data-ng-repeat="application in zhc.applications"></uib-tab>
          </uib-tabset>
        </div>
        <div class="col-sm-9 col-md-10 no-right-padding">
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th style="width: 250px">Name</th>
                <th style="width: 60px" class="text-center">Status</th>
                <th>Value</th>
                <th style="width: 60px" class="text-center">State</th>
                <th class="text-center">Error</th>
                <th style="width: 120px" class="text-center">Last Check</th>
                <th style="width: 60px" class="text-center">Graph</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in zhc.applications[zhc.activeApplication].items">
                <td>{{item.name}}</td>
                <td class="text-center" uib-tooltip="{{item.status == 1 ? 'Disabled': 'Enabled'}}">
                  <span class="glyphicon" data-ng-class="{1: 'glyphicon-off text-danger', 0: 'glyphicon-ok text-success'}[item.status]" ></span>
                </td>
                <td>{{item.lastvalue}}</td>
                <td class="text-center" uib-tooltip="{{item.state == 1 ? 'Not Supported': 'Normal'}}">
                  <span class="glyphicon" data-ng-class="{1: 'glyphicon-warning-sign text-danger', 0: 'glyphicon-ok-sign text-success'}[item.state]" ></span>
                </td>
                <td>{{item.error}}</td>
                <td>{{item.lastclock | date:'MM/dd/yyyy hh:mm'}}</td>
                <td class="text-center">
                  <span class="glyphicon glyphicon-stats text-primary" data-ng-click="zhc.selectItemGraph(item)"></span>
                </td>
              <tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" data-ng-if="zhc.selectedItemGraphId > 0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-stats"></span> {{zhc.selectedItemGraphName}}
          <span uib-tooltip="Close" data-ng-click="zhc.unselectItemGraph()" class="text-danger pull-right glyphicon glyphicon-remove-circle"></span>
        </h4>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="btn-group">
            <button data-ng-model="zhc.itemRefreshType" data-ng-click="zhc.changeItemRefresh()" class="btn btn-default" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
              {{zhc.itemRefreshType == 1 ? 'Every 10s': 'Manual'}}
              <span data-ng-class="{'glyphicon glyphicon-refresh rotating': zhc.itemRefreshType == 1}"></span>
            </button>
            <button class="btn btn-success" data-ng-if="zhc.itemRefreshType == 0" data-ng-click="zhc.refreshItemGraph()">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </div>
          <div class="btn-group pull-right" uib-dropdown>
            <button class="btn btn-default">Time Period: {{(zhc.graphTimePeriods | filter:{value:zhc.selectedItemTimePeriod}:true)[0].label}}</button>
            <button id="time-period" type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="time-period">
              <li data-ng-class="{'active': zhc.selectedItemTimePeriod == item.value}" data-ng-repeat="item in zhc.graphTimePeriods" role="menuitem">
                <a data-ng-href="#" data-ng-click="zhc.selectItemTimePeriod(item)">{{item.label}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="graph-wrapper text-center">
          <div class="img-responsive" data-ng-if="zhc.itemGraphData != ''">
            <img src="{{zhc.itemGraphData}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
