{
    "development": {
        "SERVER_CONSTANTS": {
            "BASE_URI": "http://localhost/zabbix/api_jsonrpc.php"
        }
    },
    "production": {
        "SERVER_CONSTANTS": {
            "BASE_URI": "http://localhost/zabbix/api_jsonrpc.php"
        }
    }
}
