.page-header {
    margin-top: 25px;
    font-weight: bold;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.dropdown-menu {
    overflow-y: auto;
    max-height: 210px;
}

