<div class="sidebar-wrapper" data-ng-class="{true: 'toggled'}[vm.isCollapsed]">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <span data-ng-hide="!vm.isCollapsed">Radon</span>
      <h2 data-ng-hide="vm.isCollapsed">R</h2>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="dashboard" title="Dashboard">
        <span class="glyphicon glyphicon-th"></span>
        <span data-ng-hide="!vm.isCollapsed">Dashboard</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="hosts" title="Hosts">
        <span class="glyphicon glyphicon-hdd"></span>
        <span data-ng-hide="!vm.isCollapsed">Hosts</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="hostgroups" title="Host Groups">
        <span class="glyphicon glyphicon-cloud"></span>
        <span data-ng-hide="!vm.isCollapsed">Hosts Groups</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="networks" title="Networks">
        <span class="glyphicon glyphicon-globe"></span>
        <span data-ng-hide="!vm.isCollapsed">Networks</span>
      </a>
    </li>
  </ul>
  <ul class="sidebar-nav sidebar-nav-bottom">
    <li>
      <a data-ng-href="" title="My Account">
        <span class="glyphicon glyphicon-user"></span>
        <span data-ng-hide="!vm.isCollapsed">My Account</span>
      </a>
    </li>
    <li>
      <a data-ng-href="" data-ng-click="vm.logout()" title="Logout">
        <span class="glyphicon glyphicon-log-out"></span>
        <span data-ng-hide="!vm.isCollapsed">Logout</span>
      </a>
    </li>
    <li class="toggle">
      <a data-ng-href="" data-ng-click="vm.toggleSidebar()" title="Toggle Sidebar">
        <span class="glyphicon glyphicon-transfer"></span>
      </a>
    </li>
  </ul>
</div>
