<div class="row-fluid" data-ng-cloak>
  <h3 class="page-header">{{zhsc.title}} <span class="badge">{{zhsc.hosts.length}}</span></h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-right">
        Host Groups:
        <div class="btn-group btn-group-sm" uib-dropdown>
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{zhsc.selectedGroupName}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" data-ng-class="{'active': zhsc.selectedGroupId == false}">
              <a data-ng-click="zhsc.selectGroup()">All</a>
            </li>
            <li data-ng-class="{'active': zhsc.selectedGroupId == group.groupid}" role="menuitem" data-ng-repeat="group in zhsc.groups">
              <a data-ng-href="#" data-ng-click="zhsc.selectGroup(group)">{{group.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Monitored</th>
            <th>Host IP</th>
            <th data-ng-if="zhsc.selectedGroupId == false">Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="host in zhsc.hosts">
            <td>
              <a ui-sref="host({id: host.hostid})" title="{{host.name}}">{{host.name}}</a>
            </td>
            <td>
              <span data-ng-class="{true: 'label label-success', false: 'label label-danger'}[host.status == 0]">
              {{host.status == 0 ? 'Yes': 'No'}}
              </span>
            </td>
            <td>
              <span data-ng-repeat="ip in host.interfaces">{{ip.ip}}:{{ip.port}}{{$last ? '' : ', '}}</span>
            </td>
            <td data-ng-if="zhsc.selectedGroupId == false">
              <span class="label label-primary" data-ng-repeat="group in host.groups">{{group.name}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
