html {
  /** remove iOS text size adjust without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /** eliminate 300ms click delay */
  -ms-touch-action: manipulation; /** IE10 */
  touch-action: manipulation; /** IE11 */
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* remove the gray background color from active links in IE */
a {
  background: transparent;
  cursor: pointer;
}
/* address style set to "bolder" in Firefox, Safari and Chrome */
b, strong { font-weight: bold; }

/* address "overflow" set to "hidden" in IE */
button { overflow: visible; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" !default;
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$blue:    #2780E3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #FF0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #FF7518 !default;
$green:   #3FB618 !default;
$teal:    #20c997 !default;
$cyan:    #9954BB !default;
$primary:       $blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$enable-rounded: false !default;
$font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif !default;
$navbar-dark-hover-color:           rgba($white,1) !default;
$navbar-light-hover-color:          rgba($black,.9) !default;
// Alerts
$alert-border-width:                0 !default;

$body-bg: $gray-100;
$fa-font-path: 'fonts/webfonts';
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// bower:scss
// endbower

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-repeat: repeat;
    @include transition(all .15s linear);
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
