html {
  /** remove iOS text size adjust without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /** eliminate 300ms click delay */
  -ms-touch-action: manipulation; /** IE10 */
  touch-action: manipulation; /** IE11 */
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* remove the gray background color from active links in IE */
a {
  background: transparent;
  cursor: pointer;
}
/* address style set to "bolder" in Firefox, Safari and Chrome */
b, strong { font-weight: bold; }

/* address "overflow" set to "hidden" in IE */
button { overflow: visible; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" !default;
$blue:    #2780E3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #FF0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #FF7518 !default;
$green:   #3FB618 !default;
$teal:    #20c997 !default;
$cyan:    #9954BB !default;

$brand-primary:       $blue !default;
$brand-success:       $green !default;
$brand-info:          $cyan !default;
$brand-warning:       $yellow !default;
$brand-danger:        $red !default;
$border-radius-base: 2px;
$border-radius-small: 1px;
$border-radius-large: 3px;
$font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif !default;
$font-size-base: 13px;
$headings-font-weight: 300;
// Alerts
$alert-border-width:                0 !default;

$panel-primary-border: $brand-primary;
$panel-success-border: $brand-success;
$panel-info-border: $brand-info;
$panel-warning-border: $brand-warning;
$panel-danger-border: $brand-danger;

$panel-primary-text: $brand-primary;
$panel-success-text: $brand-success;
$panel-info-text: $brand-info;
$panel-warning-text: $brand-warning;
$panel-danger-text: $brand-danger;

$panel-primary-heading-bg: #fff;
$panel-success-heading-bg: #fff;
$panel-info-heading-bg: #fff;
$panel-warning-heading-bg: #fff;
$panel-danger-heading-bg: #fff;

$fa-font-path: 'fonts/webfonts';
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// bower:scss
// endbower

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-repeat: repeat;
    @include transition(all .15s linear);
}

#toast-container .toast {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #101010;
    background-size: 16px;
    padding: 15px;
    padding-left: 38px;
    opacity: 1;
    border-radius: 3px;
    .btn {
        background: #282828;
        padding: 4px 8px;
        color: #fff;
        text-shadow: unset;
        & + div {
            padding-top: 4px;
        }
        &:hover {
            background: #282828;
            color: #fff;
            opacity: 1;
        }
    }
    color: #fff;
    &.toast-success { color: $brand-success; }
    &.toast-warning { color: $brand-warning; }
    &.toast-error { color: $brand-danger; }
    &.toast-info { color: $brand-primary; }
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #101010;
    }
}

.panel-title {
    font-weight: bold;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
