<div class="row-fluid" data-ng-cloak>
  <h3 class="page-header">{{zhgc.title}} <span class="badge">{{zhgc.hostgroups.length}}</span></h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">&nbsp;</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Group ID</th>
            <th>Group Name</th>
            <th class="text-center">No. of Hosts</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-if="zhgc.hostgroups.length > 0" data-ng-repeat="rec in zhgc.hostgroups">
            <td>{{rec.groupid}}</td>
            <td>
              <a ui-sref="hosts({hostgroup: rec.groupid})" title="{{rec.name}}">{{rec.name}}</a>
            </td>
            <td class="text-center">
              <span class="label label-primary">{{(rec.hosts && rec.hosts.length) || 0 }}</span>
            </td>
          </tr>
          <tr data-ng-if="zhgc.hostgroups.length <= 0">
            <td colspan="3" class="text-center">
              <br/><br/>
              <div class="h4 text-info">No Host Groups found.</div>
              <br/><br/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
